.cardsContainer {
  padding: 2rem 0;

  .cardActions {
    display: flex;
    gap: 1rem;
    background: rgb(220, 171, 188);
    align-items: center;
  }

  .imageContainer {
    height: 12rem;
    overflow: hidden;

    .cardImage {
      width: 100%;
    }
  }

  .cardTitle {
    font-size: 1.6rem;
    padding-top: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .cardDescription {
    font-size: 1.1rem;
  }

  .cardPhone {
    font-size: 1rem;
  }
  .cardAdress {
    font-size: 1rem;
  }
}
.cardCrud {
  background-color: rgb(237, 237, 237);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.cardCrud:hover {
  background-color: black;
  color: rgb(237, 237, 237);
  border: 1px solid black;
}
.padding {
  padding-bottom: 6px;
}
