.title {
  text-align: center;
  font-style: italic;
  font-family: "Playfair Display", serif;

  font-weight: 700;
  font-size: 5.5rem;
  word-spacing: 1px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraph {
  font-size: 1.2rem;
  text-align: center;
}
.button {
  background-color: #dbabbb;
  color: black;
  border: 1px solid #fff;
  font-size: 1.5rem;
}
.button:hover {
  background-color: #d992aa;
  color: black;

  border: 1px solid #fff;
}
