.loginPage {
  max-width: 30rem;
  margin: 0 auto;
}

.toRegister {
  color: rgb(54, 54, 209);
  font-size: 1.3rem;
}

.title {
  text-align: center;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  word-spacing: 1px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}
