.container {
  font-size: 1.2rem;
}

.aboutTitle {
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 1rem;
  font-weight: bold;
}

.paragraph {
  padding-bottom: 1.5rem;
}
