.app {
  min-height: 100vh;

  .pageContent {
    max-width: 60rem;
    margin: 0 auto;
    // align-items: center;
    padding: 2rem 1rem;
    min-height: 63vh;
  }
}

.app.dark {
  background-color: var(--color-black);
  color: var(--color-whiteFont);
}

.app.light {
  background-color: var(--color-white);
  color: var(--color-blackFont);
}
