.app {
    min-height: 100vh;

    .pageContent {
        max-width: 55rem;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}

.app.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

.app.light {
    background-color: var(--color-white);
    color: var(--color-black);
}
